
DATABASE_URL=postgresql://postgres:YOURPASSWORD@YOUR-RDS-ENDPOINT.rds.amazonaws.com:5432/spliits


AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:YOURPASSWORD@YOUR-AIRFLOW-RDS-ENDPOINT.rds.amazonaws.com:5432/airflow


SECRET_KEY=GENERATE_A_REAL_ONE
ALGORITHM=HS256


REDIS_HOST=redis
REDIS_PORT=6379


POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOURPASSWORD      
POSTGRES_DB=spliits


AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=YOURPASSWORD
AIRFLOW_POSTGRES_DB=airflow


AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_THIS_BEFORE_DEPLOYING
AIRFLOW_ADMIN_EMAIL=your@email.com
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User